[user]
    email = gkapfham@allegheny.edu
    name = Gregory M. Kapfhammer
[push]
    default = simple
[core]
    excludesfile = /home/gkapfham/.gitignore_global
[github]
    user = gkapfham
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
[credential]
	helper = cache
[alias]
    # Display a color-coded version of the git log
    smartlog = log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)<%H>%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)<%ae>%Creset%n%C(cyan)%s%n%Creset'
    sl = !git smartlog
    slog = !git smartlog
[alias]
    # Delete all local branches but master and the current one, only if they are fully merged with master
    br-delete-useless = "!f(){\
        git branch | grep -v "master" | grep -v ^* | xargs git branch -d;\
    }; f"
    # Delete all local branches but master and the current one
    br-delete-useless-force = "!f(){\
        git branch | grep -v "master" | grep -v ^* | xargs git branch -D;\
    }; f"
    # Merge a branch, and delete it here and on the origin
    brmerge = "!f() { : git checkout ; git merge $@ && git push origin --delete $@ && git branch -d $@; }; f"
    # Delete a branch here and on the origin
    brdelete = "!f() { : git checkout ; git branch -D $@; git push origin --delete $@; }; f"
[alias]
    # Fetch all content from the origin
    fa = fetch --all --prune --tags
