configuration {
	bw: 5;
    combi-hide-mode-prefix: true;
	location: 0;
	yoffset: 0;
	xoffset: 0;
	matching: "fuzzy";
	line-margin: 10;
	separator-style: "none";
	hide-scrollbar: false;
	show-icons: false;
	window-format: "  {t}";
	drun-display-format: "  {name}";
    sort: false;
	case-sensitive: false;
    smart-case: true;
}
@theme "/home/gkapfham/.config/rofi/themes/Minimal.rasi"
