layout {
    tab name="Edit" {
        pane name="Neovim" focus=true
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="Process" hide_floating_panes=true {
        pane size="50%" split_direction="vertical" {
            pane command="lazygit" name="GitHub" size="50%" {
                start_suspended false
            }
            pane name="Files" size="50%"
        }
        pane size="50%" split_direction="vertical" {
            pane name="Commands" size="50%"
            pane name="Explore" size="50%"
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="Agent" hide_floating_panes=true {
        pane command="npm" name="OpenCode" {
            args "exec" "opencode-ai@latest"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
