layout {
    tab name="Editor" hide_floating_panes=true {
        pane name="Neovim"
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
    }
    tab name="Processor" focus=true hide_floating_panes=true {
        pane size="50%" split_direction="vertical" {
            pane name="Compile" size="50%"
            pane name="Files" size="50%"
        }
        pane size="50%" split_direction="vertical" {
            pane command="lazygit" name="GitHub" size="50%" {
                start_suspended true
            }
            pane name="Commands" size="50%"
        }
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
    }
    new_tab_template {
        pane cwd="."
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
    }
}

