! Display scaling

! Xft settings for HiDPI
Xft.dpi:        192
Xft.rgba:       rgb
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1

! Display scaling

! Xcursor.theme: Adwaita
Xcursor.size: 48
