keybinds clear-defaults=true {
    normal {
        bind "Ctrl a" { SwitchToMode "tmux"; }
        bind "Ctrl e" { EditScrollback; }
        bind "Alt h" { MoveFocus "left"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt l" { MoveFocus "right"; }
        bind "Alt n" { NewPane; }
        bind "Ctrl q" { Quit; }
    }
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    scroll {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "Ctrl b" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "Ctrl f" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "q" { SwitchToMode "normal"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "u" { HalfPageScrollUp; }
        bind "Ctrl u" { HalfPageScrollUp; }
        bind "y" { Copy; }
        bind "Ctrl n" { PageScrollDown; }
        bind "Ctrl p" { PageScrollUp; }
    }
    search {
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "esc" { ScrollToBottom; SwitchToMode "normal"; }
    }
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "locked"; }
        bind "Alt p" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "Alt y" {
            LaunchOrFocusPlugin "zellij-pane-picker" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
    }
    shared_among "scroll" "search" {
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
    }
    shared_among "scroll" "tmux" {
        bind "esc" { SwitchToMode "normal"; }
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "normal"; }
    }
    shared_among "renametab" "renamepane" {
        bind "enter" { SwitchToMode "normal"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "normal"; }
    }
    tmux {
        bind "," { SwitchToMode "renametab"; TabNameInput 0; }
        bind "-" { NewPane "down"; SwitchToMode "normal"; }
        bind "." { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "B" { Resize "Increase down"; }
        bind "T" { Resize "Increase up"; }
        bind "[" { SwitchToMode "scroll"; }
        bind "Ctrl a" { Write 1; SwitchToMode "normal"; }
        // bind "b" { GoToPreviousTab; SwitchToMode "normal"; }
        bind "b" { WriteChars "]52;c;?"; SwitchToMode "normal"; }
        bind "c" { NewTab; SwitchToMode "normal"; }
        bind "d" { Detach; }
        bind "f" { Resize "Increase left"; }
        bind "g" { Resize "Increase right"; }
        bind "h" { MoveFocus "left"; SwitchToMode "normal"; }
        bind "H" { MovePane "left"; SwitchToMode "normal"; }
        bind "i" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "J" { MovePane "down"; SwitchToMode "normal"; }
        bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "K" { MovePane "up"; SwitchToMode "normal"; }
        bind "l" { MoveFocus "right"; SwitchToMode "normal"; }
        bind "L" { MovePane "right"; SwitchToMode "normal"; }
        bind "n" { GoToNextTab; SwitchToMode "normal"; }
        bind "o" { FocusNextPane; SwitchToMode "normal"; }
        bind "p" { GoToPreviousTab; SwitchToMode "normal"; }
        bind "r" {
            MessagePlugin "configuration" {
                name "reload_config"
                floating false
            }
            SwitchToMode "normal"
        }
        bind "w" {
            WriteChars "zellij action dump-layout > ~/.config/zellij/layouts/"
            SwitchToMode "normal"
        }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "|" { NewPane "right"; SwitchToMode "normal"; }
    }
}
themes {
    custom-tmux {
        text_unselected {
            base 178 178 178
            background 28 28 28
            emphasis_0 215 135 0
            emphasis_1 215 95 95
            emphasis_2 111 149 0
            emphasis_3 165 105 165
        }
        text_selected {
            base 178 178 178
            background 28 28 28
            emphasis_0 215 135 0
            emphasis_1 215 95 95
            emphasis_2 111 149 0
            emphasis_3 165 105 165
        }
        ribbon_selected {
            base 111 149 0
            background 28 28 28
            emphasis_0 28 28 28
            emphasis_1 28 28 28
            emphasis_2 28 28 28
            emphasis_3 28 28 28
        }
        ribbon_unselected {
            base 178 178 178
            background 28 28 28
            emphasis_0 28 28 28
            emphasis_1 28 28 28
            emphasis_2 28 28 28
            emphasis_3 28 28 28
        }
        table_title {
            base 111 149 0
            background 28 28 28
            emphasis_0 215 135 0
            emphasis_1 215 95 95
            emphasis_2 111 149 0
            emphasis_3 165 105 165
        }
        table_cell_selected {
            base 215 135 0
            background 28 28 28
            emphasis_0 215 135 0
            emphasis_1 215 135 0
            emphasis_2 215 135 0
            emphasis_3 215 135 0
        }
        table_cell_unselected {
            base 178 178 178
            background 28 28 28
            emphasis_0 210 210 210
            emphasis_1 210 210 210
            emphasis_2 210 210 210
            emphasis_3 210 210 210
        }
        list_selected {
            base 215 135 0
            background 28 28 28
            emphasis_0 215 135 0
            emphasis_1 215 135 0
            emphasis_2 215 135 0
            emphasis_3 215 135 0
        }
        list_unselected {
            base 210 210 210
            background 28 28 28
            emphasis_0 210 210 210
            emphasis_1 210 210 210
            emphasis_2 210 210 210
            emphasis_3 210 210 210
        }
        frame_selected {
            base 111 149 0
            background 0
            emphasis_0 215 135 0
            emphasis_1 215 95 95
            emphasis_2 165 105 165
            emphasis_3 0
        }
        frame_highlight {
            base 215 135 0
            background 0
            emphasis_0 165 105 165
            emphasis_1 0
            emphasis_2 215 135 0
            emphasis_3 215 135 0
        }
        exit_code_success {
            base 111 149 0
            background 0
            emphasis_0 215 95 95
            emphasis_1 118 118 118
            emphasis_2 165 105 165
            emphasis_3 135 175 215
        }
        exit_code_error {
            base 215 135 0
            background 0
            emphasis_0 183 183 87
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 165 105 165
            player_2 135 175 215
            player_3 0
            player_4 183 183 87
            player_5 215 95 95
            player_6 0
            player_7 215 135 0
            player_8 0
            player_9 0
            player_10 0
        }
    }
}

// Make pane frames have rounded corners
ui {
    pane_frames {
        rounded_corners true
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar" {
        tooltip "Ctrl h"
    }
    default_layout "compact"
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen false
    }
    zjpane location="https://github.com/FuriouZz/zjpane/releases/download/v0.2.0/zjpane.wasm" {
    }
    zellij-pane-picker location="https://github.com/shihanng/zellij-pane-picker/releases/download/v0.6.0/zellij-pane-picker.wasm" {
        list_panes ""
        plugin_select_down "Ctrl n"
        plugin_select_up "Ctrl p"
    }
    zjstatus location="https://github.com/dj95/zjstatus/releases/download/v0.21.1/zjstatus.wasm" {
        color_rosewater "#f5e0dc"
        color_flamingo "#f2cdcd"
        color_pink "#f5c2e7"
        color_mauve "#cba6f7"
        color_red "#f38ba8"
        color_maroon "#eba0ac"
        color_peach "#fab387"
        color_yellow "#f9e2af"
        color_green "#a6e3a1"
        color_teal "#94e2d5"
        color_sky "#89dceb"
        color_sapphire "#74c7ec"
        color_blue "#89b4fa"
        color_lavender "#b4befe"
        color_text "#cdd6f4"
        color_subtext1 "#bac2de"
        color_subtext0 "#a6adc8"
        color_overlay2 "#9399b2"
        color_overlay1 "#7f849c"
        color_overlay0 "#6c7086"
        color_surface2 "#585b70"
        color_surface1 "#45475a"
        color_surface0 "#313244"
        color_base "#1e1e2e"
        color_mantle "#181825"
        color_crust "#11111b"
        format_left   "#[bg=$surface0,fg=$sapphire]#[bg=$sapphire,fg=$crust,bold] {session} #[bg=$surface0] {mode}#[bg=$surface0] {tabs}"
        format_center "{notifications}"
        format_right  "#[bg=$surface0,fg=$flamingo]#[fg=$crust,bg=$flamingo] #[bg=$surface1,fg=$flamingo,bold] {command_user}@{command_host}#[bg=$surface0,fg=$surface1]#[bg=$surface0,fg=$maroon]#[bg=$maroon,fg=$crust]󰃭 #[bg=$surface1,fg=$maroon,bold] {datetime}#[bg=$surface0,fg=$surface1]"
        format_space  "#[bg=$surface0]"
        format_hide_on_overlength "true"
        format_precedence "lrc"
        border_enabled  "false"
        border_char     "─"
        border_format   "#[bg=$surface0]{char}"
        border_position "top"
        hide_frame_for_single_pane "false"
        mode_normal        "#[bg=$green,fg=$crust,bold] NORMAL#[bg=$surface0,fg=$green]"
        mode_tmux          "#[bg=$mauve,fg=$crust,bold] TMUX#[bg=$surface0,fg=$mauve]"
        mode_locked        "#[bg=$red,fg=$crust,bold] LOCKED#[bg=$surface0,fg=$red]"
        mode_pane          "#[bg=$teal,fg=$crust,bold] PANE#[bg=$surface0,fg=teal]"
        mode_tab           "#[bg=$teal,fg=$crust,bold] TAB#[bg=$surface0,fg=$teal]"
        mode_scroll        "#[bg=$flamingo,fg=$crust,bold] SCROLL#[bg=$surface0,fg=$flamingo]"
        mode_enter_search  "#[bg=$flamingo,fg=$crust,bold] ENT-SEARCH#[bg=$surfaco,fg=$flamingo]"
        mode_search        "#[bg=$flamingo,fg=$crust,bold] SEARCHARCH#[bg=$surfac0,fg=$flamingo]"
        mode_resize        "#[bg=$yellow,fg=$crust,bold] RESIZE#[bg=$surfac0,fg=$yellow]"
        mode_rename_tab    "#[bg=$yellow,fg=$crust,bold] RENAME-TAB#[bg=$surface0,fg=$yellow]"
        mode_rename_pane   "#[bg=$yellow,fg=$crust,bold] RENAME-PANE#[bg=$surface0,fg=$yellow]"
        mode_move          "#[bg=$yellow,fg=$crust,bold] MOVE#[bg=$surface0,fg=$yellow]"
        mode_session       "#[bg=$pink,fg=$crust,bold] SESSION#[bg=$surface0,fg=$pink]"
        mode_prompt        "#[bg=$pink,fg=$crust,bold] PROMPT#[bg=$surface0,fg=$pink]"
        tab_normal              "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{floating_indicator}#[bg=$surface0,fg=$surface1]"
        tab_normal_fullscreen   "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{fullscreen_indicator}#[bg=$surface0,fg=$surface1]"
        tab_normal_sync         "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{sync_indicator}#[bg=$surface0,fg=$surface1]"
        tab_active              "#[bg=$surface0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{floating_indicator}#[bg=$surface0,fg=$surface1]"
        tab_active_fullscreen   "#[bg=$surface0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{fullscreen_indicator}#[bg=$surface0,fg=$surface1]"
        tab_active_sync         "#[bg=$surface0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{sync_indicator}#[bg=$surface0,fg=$surface1]"
        tab_separator           "#[bg=$surface0] "
        tab_sync_indicator       " "
        tab_fullscreen_indicator " 󰊓"
        tab_floating_indicator   " 󰹙"
        notification_format_unread "#[bg=surface0,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[bg=$surface0,fg=$yellow]"
        notification_format_no_notifications ""
        notification_show_interval "10"
        command_host_command    "uname -n"
        command_host_format     "{stdout}"
        command_host_interval   "0"
        command_host_rendermode "static"
        command_user_command    "whoami"
        command_user_format     "{stdout}"
        command_user_interval   "10"
        command_user_rendermode "static"
        datetime          "{format}"
        datetime_format   "%Y-%m-%d 󰅐 %H:%M"
        datetime_timezone "America/New_York"
    }
}

// Plugins to load in the background when a new session starts
load_plugins {
    zellij-pane-picker
    zjstatus
}
web_client {
    font "monospace"
}
 
// Use a simplified UI without special fonts (arrow glyphs)
// Options:
//   - true
//   - false (Default)
// 
simplified_ui true
 
// Choose the theme that is specified in the themes section.
// Default: default
// 
theme "custom-tmux"
 
// Choose the base input mode of zellij.
// Default: normal
// 
default_mode "normal"
 
// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
// 
default_shell "/run/current-system/sw/bin/zsh"
 
// Choose the path to override cwd that zellij will use for opening new panes
// 
// default_cwd "/tmp"
 
// The name of the default layout to load on startup
// Default: "default"
// 
default_layout "compact"
 
// The folder in which Zellij will look for layouts
// (Requires restart)
// 
layout_dir "/home/gkapfham/.config/zellij/layouts"
 
// The folder in which Zellij will look for themes
// (Requires restart)
// 
// theme_dir "/tmp"
 
// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
// 
mouse_mode true
 
// Toggle having pane frames around the panes
// Options:
//   - true (default, enabled)
//   - false
// 
pane_frames true
 
// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// (Requires restart)
// Default: false
// 
// mirror_session true
 
// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// (Requires restart)
// Options:
//   - detach (Default)
//   - quit
// 
on_force_close "detach"
 
// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// (Requires restart)
// Valid values: positive integers
// Default value: 10000
// 
scroll_buffer_size 50000
 
// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx
// 
copy_command "xsel --input --clipboard"
 
// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
// 
// copy_clipboard "primary"
 
// Enable automatic copying (and clearing) of selection when releasing mouse
// Default: true
// 
copy_on_select true
 
// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
// scrollback_editor "/usr/bin/vim"
 
// A fixed name to always give the Zellij session.
// Consider also setting `attach_to_session true,`
// otherwise this will error if such a session exists.
// Default: <RANDOM>
// 
// session_name "My singleton session"
 
// When `session_name` is provided, attaches to that session
// if it is already running or creates it otherwise.
// Default: false
// 
// attach_to_session true
 
// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
// 
auto_layout true
 
// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
// 
session_serialization true
 
// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
// 
serialize_pane_viewport true
 
// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
// 
scrollback_lines_to_serialize 0
 
// Enable or disable the rendering of styled and colored underlines (undercurl).
// May need to be disabled for certain unsupported terminals
// (Requires restart)
// Default: true
// 
// styled_underlines false
 
// How often in seconds sessions are serialized
// 
// serialization_interval 10000
 
// Enable or disable writing of session metadata to disk (if disabled, other sessions might not know
// metadata info on this session)
// (Requires restart)
// Default: false
// 
// disable_session_metadata false
 
// Enable or disable support for the enhanced Kitty Keyboard Protocol (the host terminal must also support it)
// (Requires restart)
// Default: true (if the host terminal supports it)
// 
// support_kitty_keyboard_protocol false
// Whether to make sure a local web server is running when a new Zellij session starts.
// This web server will allow creating new sessions and attaching to existing ones that have
// opted in to being shared in the browser.
// When enabled, navigate to http://127.0.0.1:8082
// (Requires restart)
// 
// Note: a local web server can still be manually started from within a Zellij session or from the CLI.
// If this is not desired, one can use a version of Zellij compiled without
// `web_server_capability`
// 
// Possible values:
// - true
// - false
// Default: false
// 
// web_server false
// Whether to allow sessions started in the terminal to be shared through a local web server, assuming one is
// running (see the `web_server` option for more details).
// (Requires restart)
// 
// Note: This is an administrative separation and not intended as a security measure.
// 
// Possible values:
// - "on" (allow web sharing through the local web server if it
// is online)
// - "off" (do not allow web sharing unless sessions explicitly opt-in to it)
// - "disabled" (do not allow web sharing and do not permit sessions started in the terminal to opt-in to it)
// Default: "off"
// 
// web_sharing "off"
// A path to a certificate file to be used when setting up the web client to serve the
// connection over HTTPs
// 
// web_server_cert "/path/to/cert.pem"
// A path to a key file to be used when setting up the web client to serve the
// connection over HTTPs
// 
// web_server_key "/path/to/key.pem"
/// Whether to enforce https connections to the web server when it is bound to localhost
/// (127.0.0.0/8)
///
/// Note: https is ALWAYS enforced when bound to non-local interfaces
///
/// Default: false
// 
// enforce_https_for_localhost false
 
// Whether to stack panes when resizing beyond a certain size
// Default: true
// 
// stacked_resize false
 
// Whether to show tips on startup
// Default: true
// 
show_startup_tips false

// Fix for NixOS wrapped neovim - replace unwrapped path and strip --cmd wrapper arguments
post_command_discovery_hook "echo \"$RESURRECT_COMMAND\" | sed -E 's|/nix/store/[^/]*neovim[^/]*/bin/nvim|nvim|' | sed -E 's/ --cmd lua [^[:space:]]+//'"
 
// Whether to show release notes on first version run
// Default: true
// 
// show_release_notes false
 
// Whether to enable mouse hover effects and pane grouping functionality
// default is true
// advanced_mouse_actions false
 
// The ip address the web server should listen on when it starts
// Default: "127.0.0.1"
// (Requires restart)
// web_server_ip "127.0.0.1"
 
// The port the web server should listen on when it starts
// Default: 8082
// (Requires restart)
// web_server_port 8082
 
// A command to run (will be wrapped with sh -c and provided the RESURRECT_COMMAND env variable) 
// after Zellij attempts to discover a command inside a pane when resurrecting sessions, the STDOUT
// of this command will be used instead of the discovered RESURRECT_COMMAND
// can be useful for removing wrappers around commands
// Note: be sure to escape backslashes and similar characters properly
// post_command_discovery_hook "echo $RESURRECT_COMMAND | sed <your_regex_here>"
